<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel="stylesheet" href="../CSS/searchcss/search.css">
</head>
<body>
  <h3>This is a series of simple search components</h3>

<form action="searcher.php" method="post">
  <input type="simplesearch" name="simplesearch" id="simplesearch">
  <button type="submit">Submit</button>
</form>
<form action="searcher.php" method="post">
  <input type="stepupsearch" name="search" id="search">
  <button type="submit" class="setupsearch">Submit</button>
</form>
<form action="searcher.php" method="post">
  <input type="search" name="search" id="search">
  <button type="submit">Submit</button>
</form>
<form action="searcher.php" method="post">
  <input type="search" name="search" id="search">
  <button type="submit">Submit</button>
</form>
<form action="searcher.php" method="post">
  <input type="search" name="search" id="search">
  <button type="submit">Submit</button>
</form>
</body>
</html>